<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VidyoPortalUserServiceBinding"/>
                <binding name="VidyoPortalAdminServiceBinding"/>
                <binding name="VidyoPortalGuestServiceBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://indsim0a04vs01.voice.simdomain.com/services/v1_1/VidyoPortalUserService/" binding="basicHttpBinding" bindingConfiguration="VidyoPortalUserServiceBinding" contract="VidyoPortalUserService.VidyoPortalUserServicePortType" name="VidyoPortalUserServicePort"/>
            <endpoint address="http://indsim0a04vs01.voice.simdomain.com/services/v1_1/VidyoPortalAdminService/" binding="basicHttpBinding" bindingConfiguration="VidyoPortalAdminServiceBinding" contract="VidyoPortalAdminService.VidyoPortalAdminServicePortType" name="VidyoPortalAdminServicePort"/>
            <endpoint address="http://indsim0a04vs01.voice.simdomain.com/services/VidyoPortalGuestService/" binding="basicHttpBinding" bindingConfiguration="VidyoPortalGuestServiceBinding" contract="VidyoPortalGuestService.VidyoPortalGuestServicePortType" name="VidyoPortalGuestServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
