<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VidyoPortalUserServiceBinding"/>
        <binding name="VidyoPortalAdminServiceBinding"/>
        <binding name="VidyoPortalGuestServiceBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://VIDYOAPISERVER/services/v1_1/VidyoPortalUserService/" 
                binding="basicHttpBinding" 
                bindingConfiguration="VidyoPortalUserServiceBinding" 
                contract="VidyoPortalUserService.VidyoPortalUserServicePortType" 
                name="VidyoPortalUserServicePort"/>
      <endpoint address="http://VIDYOAPISERVER/services/v1_1/VidyoPortalAdminService/" 
                binding="basicHttpBinding" 
                bindingConfiguration="VidyoPortalAdminServiceBinding" 
                contract="VidyoPortalAdminService.VidyoPortalAdminServicePortType" 
                name="VidyoPortalAdminServicePort"/>
      <endpoint address="http://VIDYOAPISERVER/services/VidyoPortalGuestService/" 
                binding="basicHttpBinding"
                bindingConfiguration="VidyoPortalGuestServiceBinding" 
                contract="VidyoPortalGuestService.VidyoPortalGuestServicePortType" 
                name="VidyoPortalGuestServicePort"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!--IC Server Connection Parameters -->
    <add key="CicServer" value="CICSERVER"/>
    <add key="CicUseWindowsAuth" value="false"/>
    <add key="CicUsername" value="CICUSER"/>
    <add key="CicPassword" value="CICPASSWORD"/>
    <add key="CicServiceEndpointUri" value="http://INTEGRATIONSERVER:8000"/>

    <!-- [NEW] Vidyo Configuration Parameters -->
    <add key="VidyoWebBaseUrl" value="http://VIDYOWEBSERVER/vidyoweb/"/>
    <add key="VidyoRoomGroup" value="VidyoIntegrationGroup"/>
    <add key="VidyoRoomOwner" value="vidyointegrationadmin"/>
    <add key="VidyoAdminUsername" value="VIDYOADMINUSER"/>
    <add key="VidyoAdminPassword" value="VIDYOADMINPASSWORD"/>
    <add key="VidyoExtensionPrefix" value="9"/>
    <add key="VidyoServiceEndpointUri" value="http://INTEGRATIONSERVER:8000"/>
  </appSettings>
</configuration>
