<?xml version="1.0" encoding="UTF-8"?>
<?define Win64 = "no" ?>
<?define ProductName = "Vidyo Addin" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?define ProductVersion = "1.1.0.0"?>
<?define ProductUpgradeCode = "19DBA20C-554C-471F-90F0-558A86A6B2A0"?>
<?define ManufacturerName = "Interactive Intelligence"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ManufacturerName)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <!--Directory Structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Directory Id="ADDINIMAGES" Name="img">
            <Directory Id="CONTROLSIMAGES" Name="controls"></Directory>
            <Directory Id="TRANSFERIMAGES" Name="transfer"></Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--Uninstall Previous Versions-->
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
 
    <Feature Id="ProductFeature" Title="Vidyo Addin" Level="1">
      <ComponentGroupRef Id="Addin" />
    </Feature>
    
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="NewerVersion" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="NewerVersion" Error="A later version of [ProductName] is already installed." />
 
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
 
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
 
 
    <!--Add/Remove Programs Icon Image-->
    <Icon Id="I3Logo.ico" SourceFile="I3Logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="I3Logo.ico" />

    <!--Install Location Path-->
    <Property Id="INSTALLLOCATION">
      <![CDATA[c:\Program Files (x86)\Interactive Intelligence\ICUserApps\Addins]]>
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
 
  </Product>
 
  <Fragment>
    <ComponentGroup Id="Addin">
      <Component Id="AddinFiles" Guid="F0BB7F0C-5164-48C2-9A90-9DCC8EA0D73A" Directory="INSTALLLOCATION">
        <File Id="AutoCompleteTextBoxLib.dll" Name="AutoCompleteTextBoxLib.dll" Source="..\VidyoAddin\bin\Release\AutoCompleteTextBoxLib.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="AutoCompleteTextBoxLib.pdb" Name="AutoCompleteTextBoxLib.pdb" Source="..\VidyoAddin\bin\Release\AutoCompleteTextBoxLib.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="..\VidyoAddin\bin\Release\Newtonsoft.Json.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="RestSharp.dll" Name="RestSharp.dll" Source="..\VidyoAddin\bin\Release\RestSharp.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="VidyoIntegration.CommonLib.dll" Name="VidyoIntegration.CommonLib.dll" Source="..\VidyoAddin\bin\Release\VidyoIntegration.CommonLib.dll" Vital="yes" KeyPath="yes" DiskId="1"/>
        <File Id="VidyoIntegration.CommonLib.pdb" Name="VidyoIntegration.CommonLib.pdb" Source="..\VidyoAddin\bin\Release\VidyoIntegration.CommonLib.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="VidyoIntegration.TraceLib.dll" Name="VidyoIntegration.TraceLib.dll" Source="..\VidyoAddin\bin\Release\VidyoIntegration.TraceLib.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="VidyoIntegration.TraceLib.pdb" Name="VidyoIntegration.TraceLib.pdb" Source="..\VidyoAddin\bin\Release\VidyoIntegration.TraceLib.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="VidyoIntegration.VidyoAddin.dll" Name="VidyoIntegration.VidyoAddin.dll" Source="..\VidyoAddin\bin\Release\VidyoIntegration.VidyoAddin.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="VidyoIntegration.VidyoAddin.pdb" Name="VidyoIntegration.VidyoAddin.pdb" Source="..\VidyoAddin\bin\Release\VidyoIntegration.VidyoAddin.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
      </Component>
      <Component Id="AddinImages" Guid="FCED64BD-DC6A-478E-B12D-6704D19A604E" Directory="ADDINIMAGES">
        <File Id="add.png" Name="add.png" Source="..\VidyoAddin\bin\Release\img\add.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="documents.png" Name="documents.png" Source="..\VidyoAddin\bin\Release\img\documents.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="sign_warning.png" Name="sign_warning.png" Source="..\VidyoAddin\bin\Release\img\sign_warning.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_add.png" Name="webcam_add.png" Source="..\VidyoAddin\bin\Release\img\webcam_add.png" Vital="yes" KeyPath="no" DiskId="1"/>
      </Component>
      <Component Id="ControlsImages" Guid="48F35A02-F4DB-4B73-AF34-F0FC6D93EC99" Directory="CONTROLSIMAGES">
        <File Id="delete.png" Name="delete.png" Source="..\VidyoAddin\bin\Release\img\controls\delete.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="delete_d.png" Name="delete_d.png" Source="..\VidyoAddin\bin\Release\img\controls\delete_d.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="delete_h.png" Name="delete_h.png" Source="..\VidyoAddin\bin\Release\img\controls\delete_h.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker.png" Name="loudspeaker.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker_d.png" Name="loudspeaker_d.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker_d.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker_h.png" Name="loudspeaker_h.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker_h.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker_pause.png" Name="loudspeaker_pause.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker_pause.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker_pause_d.png" Name="loudspeaker_pause_d.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker_pause_d.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="loudspeaker_pause_h.png" Name="loudspeaker_pause_h.png" Source="..\VidyoAddin\bin\Release\img\controls\loudspeaker_pause_h.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam.png" Name="webcam.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_d.png" Name="webcam_d.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam_d.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_h.png" Name="webcam_h.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam_h.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_pause.png" Name="webcam_pause.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam_pause.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_pause_d.png" Name="webcam_pause_d.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam_pause_d.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="webcam_pause_h.png" Name="webcam_pause_h.png" Source="..\VidyoAddin\bin\Release\img\controls\webcam_pause_h.png" Vital="yes" KeyPath="no" DiskId="1"/>
      </Component>
      <Component Id="TransferImages" Guid="E9B76ADE-2C55-43EB-965C-7EA81EF6D5CA" Directory="TRANSFERIMAGES">
        <File Id="Make_Conference_16_d_m_add.png" Name="Make Conference 16 d m_add.png" Source="..\VidyoAddin\bin\Release\img\transfer\Make Conference 16 d m_add.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Make_Conference_16_h_m_add.png" Name="Make Conference 16 h m_add.png" Source="..\VidyoAddin\bin\Release\img\transfer\Make Conference 16 h m_add.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Make_Conference_16_n_m_add.png" Name="Make Conference 16 n m_add.png" Source="..\VidyoAddin\bin\Release\img\transfer\Make Conference 16 n m_add.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Transfer_16_d_m.png" Name="Transfer 16 d m.png" Source="..\VidyoAddin\bin\Release\img\transfer\Transfer 16 d m.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Transfer_16_h_m.png" Name="Transfer 16 h m.png" Source="..\VidyoAddin\bin\Release\img\transfer\Transfer 16 h m.png" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Transfer_16_n_m.png" Name="Transfer 16 n m.png" Source="..\VidyoAddin\bin\Release\img\transfer\Transfer 16 n m.png" Vital="yes" KeyPath="no" DiskId="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>